<form [formGroup]="form" (submit)="submit()">
  <h3 class="text-center">Sign Up</h3>
  <div class="mb-4">
    <label class="form-label">First Name</label>
    <input class="form-control" formControlName="first_name" type="text" placeholder="James" />
  </div>
  <div class="mb-4">
    <label class="form-label">Last Name</label>
    <input class="form-control" formControlName="last_name" type="text" placeholder="Wang" />
  </div>
  <div class="mb-4">
    <label class="form-label">Email</label>
    <input class="form-control" formControlName="email" type="email" placeholder="james.wang@mail.com" />
  </div>
  <div class="mb-4">
    <label class="form-label">Password</label>
    <input class="form-control" formControlName="password" type="password" placeholder="p4ssw0rd." />
  </div>
  <div class="mb-4">
    <label class="form-label">Confirm Password</label>
    <input class="form-control" formControlName="password_confirm" type="password" placeholder="p4ssw0rd." />
  </div>
  <div class="d-grid">
    <button class="btn btn-primary">Sign Up</button>
  </div>
</form>
